{%  extends 'axf/base.html' %}
{% load static from staticfiles %}
    {% block linkscript %}
        <link rel="stylesheet" charset="utf-8" href="{% static 'mine/css/mine.css' %}"/>
        <script type="text/javascript" charset="utf-8" src="{% static 'mine/js/mine.js' %}"></script>

        <!--<link rel="stylesheet" charset="utf-8" href="{% static 'main/css/bootstrap.min.css' %}">-->
    {% endblock linkscript %}

{% block base %}

    <div id="mine">
        <section class="fixed">
            <!--<img src="/media/{{ user.icon }}/" alt="icon">-->
            <span class="glyphicon glyphicon-user"></span>

            <p><a href="/login/">{{username}}</a></p>
            <p><span class="glyphicon glyphicon-fire"></span><span>等级</span></p>
            <div id="regis"><a href="/register/">注册</a></div>
            <p><span class="glyphicon glyphicon-heart"></span><span>收藏</span></p>
        </section>

        <section class="mine">
            <p>我的订单<a href="#">更多&gt;</a></p>
            <div id="nav">
                <ul>
                    <a href="/axf/orderWaitPay/">
                    <li>
                        <dl>
                            <dt><span id="wait_pay_list" class="glyphicon glyphicon-usd"></span>
                                <span class="badge">{{ wait_pay }}</span></dt>
                            <dd>待付款</dd>
                        </dl>

                    </li>
                    </a>
                    <a href="/axf/orderlistpayed/">
                    <li>
                        <dl>
                            <dt><span id="order_payed_list" class="glyphicon glyphicon-envelope"></span>
                                <span class="badge">{{ payed }}</span></dt>
                            <dd>待收货</dd>
                        </dl>
                    </li>
                    </a>
                    <a>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-pencil"></span></dt>
                            <dd>待评价</dd>
                        </dl>

                    </li>
                    </a>
                    <a>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-retweet"></span></dt>
                            <dd>退款/售后</dd>
                        </dl>

                    </li>
                    </a>

                </ul>

            </div>

            <menu>
                <ul>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-bullhorn"></span></dt>
                            <span>积分商城</span>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-credit-card"></span></dt>
                            <span>优惠券</span>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-import"></span></dt>
                            <span>收货地址</span>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-phone-alt"></span></dt>
                            <span>客户反馈</span>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="glyphicon glyphicon-certificate"></span></dt>
                            <span>关于我们</span>
                        </dl>
                    </li>
                </ul>
            </menu>

            <p class="logout"><a href="/quit/">退出当前账号</a></p>

        </section>
    </div>


{% endblock base %}